@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #823BA4;
}
.app {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
h4 {
    color: #585858;
    cursor: pointer;
}
h4:hover {
    color: black;
}
.first-h4 {
    color: black;
}
h6 {
    width: 40px !important;
    height: 40px;
 display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #EDEDED;
}
.span-blue {
    background-color: #2574AE;
    color: white;
}
h1 {
    font-size: 30px;
    max-width: 500px;
}
.buttons {
    margin-top: 60px;
    display: flex;
    column-gap: 20px;
}
.title-btn {
    background-color: #EFEFEF;
    padding: 15px;
    font-size: 20px;
}
.title-btn:hover {
    background-color: #E5E5E5;
}